[submodule "meshcat/viewer"]
	path = src/meshcat/viewer
	url = https://github.com/rdeits/meshcat.git
[submodule "Universal_Robots_ROS2_Description"]
	path = Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
